@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital,wght@0,300..700;1,300..700&display=swap');

.groups, .groups_container, .group {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.groups {
  width: max-content;
  height: max-content;
  margin-right: 1.4rem;
  position: sticky;
  top: var(--header-height);

  font-family: "Inclusive Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#menu, #selected_menu {
  list-style: none;
  cursor: pointer;
  padding: 0.25rem;
  transition: all 0.2s ease-in-out;

  #menubar1, #menubar2, #menubar3 {
    transition: all 0.2s ease-in-out;
    border-radius: 20px;
    background-color: var(--current-color);
    margin: 0.2rem 0;
    width: 2vw;
    min-height: 0.2rem;
    height: 0.2vw;
  }
}

#selected_menu {
  padding: 0.5vw;
  #menubar1 {
    width: 1.5vw;
  }
  #menubar2 {
    width: 0.75vw;
  }
  #menubar3 {
    width: 1.5vw;
  }
}

:root {
  --mobile-menu-height: 5rem;
}

#content {
  margin-bottom: var(--mobile-menu-height);
  width: 100%;
}

#mobile_menu {
  z-index: 100;
  width: 100vw;
  height: var(--mobile-menu-height);
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: Canvas;

  display: flex;
  justify-content: space-around;
}

.mobile_menu_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


@media(max-width: 800px) {
  .groups, #menu {
    display: none;
  }
}