.logo {
  min-height: 2rem;
  height: 3vw;
  -webkit-user-select: none;
  user-select: none;
}
@media(prefers-color-scheme: light) {
  .logo_white {
    filter: invert();
  }
}

#logo {
  display: flex;
  align-items: center;

  padding: 0.5rem;

  img {
    -webkit-user-select: none;
    user-select: none;
  }
}
