gunicorn==23.0.0
Django==5.1.7
djangorestframework==3.16.0
django-cors-headers==4.7.0
django-debug-toolbar==5.1.0
celery[redis]==5.4.0
celery-singleton==0.3.1
django-allauth[socialaccount]==65.6.0
dj-rest-auth[with_social]==7.0.1
psycopg2==2.9.10
Pillow
requests
dotenv
