:root {
  --current-color: #000;
  --images-glow: #666;
  --selected-block: #D9D9D9;
  --default-image-filter: drop-shadow(1px 1px 2px var(--images-glow));
  --secondary-font-color: #BBB;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --current-color: #fff;
    --images-glow: #aaa;
    --selected-block: #6b6b6b;
    --default-image-filter: invert(1) drop-shadow(1px 1px 2px var(--images-glow));
  }
}

.default-image {
  filter: var(--default-image-filter);
  -webkit-user-select: none;
  user-select: none;
}